* {
background: #000000;
foreground: #c1c1c1;
selection-background: #c1c1c1;
selection-foreground: #000000;
url-color: #999999;
cursor: #c1c1c1;
active-border-color: #333333;
inactive-border-color: #121212;
active-tab-background: #000000;
active-tab-foreground: #c1c1c1;
inactive-tab-background: #121212;
inactive-tab-foreground: #999999;
tab-bar-background: #121212;
color0: #000000;
color1: #5f8787;
color2: #9b8d7f;
color3: #8c7f70;
color4: #888888;
color5: #999999;
color6: #aaaaaa;
color7: #c1c1c1;
color8: #333333;
color9: #aaaaaa;
color10: #121212;
color11: #222222;
color12: #999999;
color13: #999999;
color14: #444444;
color15: #c1c1c1;

alternate-normal-background: @background; // NO TOCAR;
}
