layout {
  default_tab_template{
    pane size=2 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        format_left   "{mode} {tabs}"
        format_center ""
        //format_right  "#[bg=,fg=#b8bb26]#[bg=#b8bb26,fg=#665c54,bold] #[bg=#665c54,fg=#d5c4a1,bold] {session} #[bg=#1d2021,fg=#d5c4a1,bold]"
        format_right  "#[bg=,fg=#b8bb26]#[bg=#b8bb26,fg=#665c54,bold] #[bg=#665c54,fg=#d5c4a1,bold] {session} "
        format_space  ""
        format_hide_on_overlength "true"
        format_precedence "crl"

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        mode_normal        "#[bg=#b8bb26,fg=#d5c4a1,bold] NORMAL#[bg=#665c54,fg=#b8bb26]█"
        mode_locked        "#[bg=#665c54,fg=#d5c4a1,bold] LOCKED#[bg=#665c54,fg=#665c54]█"
        mode_resize        "#[bg=#b8bb26,fg=#d5c4a1,bold] RESIZE#[bg=#665c54,fg=#b8bb26]█"
        mode_pane          "#[bg=#b8bb26,fg=#d5c4a1,bold] PANE#[bg=#665c54,fg=#b8bb26]█"
        mode_tab           "#[bg=#b8bb26,fg=#d5c4a1,bold] TAB#[bg=#665c54,fg=#b8bb26]█"
        mode_scroll        "#[bg=#b8bb26,fg=#d5c4a1,bold] SCROLL#[bg=#665c54,fg=#b8bb26]█"
        mode_enter_search  "#[bg=#b8bb26,fg=#d5c4a1,bold] ENT-SEARCH#[bg=#665c54,fg=#b8bb26]█"
        mode_search        "#[bg=#b8bb26,fg=#d5c4a1,bold] SEARCHARCH#[bg=#665c54,fg=#b8bb26]█"
        mode_rename_tab    "#[bg=#b8bb26,fg=#d5c4a1,bold] RENAME-TAB#[bg=#665c54,fg=#b8bb26]█"
        mode_rename_pane   "#[bg=#b8bb26,fg=#d5c4a1,bold] RENAME-PANE#[bg=#665c54,fg=#b8bb26]█"
        mode_session       "#[bg=#b8bb26,fg=#d5c4a1,bold] SESSION#[bg=#665c54,fg=#b8bb26]█"
        mode_move          "#[bg=#b8bb26,fg=#d5c4a1,bold] MOVE#[bg=#665c54,fg=#b8bb26]█"
        mode_prompt        "#[bg=#b8bb26,fg=#d5c4a1,bold] PROMPT#[bg=#665c54,fg=#b8bb26]█"
        mode_tmux          "#[bg=#b8bb26,fg=#d5c4a1,bold] TMUX#[bg=#665c54,fg=#b8bb26]█"

        // formatting for inactive tabs
        tab_normal              "#[bg=,fg=#665c54]█#[bg=#665c54,fg=#d5c4a1,bold]{index} #[bg=#3c3836,fg=#d5c4a1,bold] {name}{floating_indicator}#[bg=,fg=#3c3836,bold]█"
        tab_normal_fullscreen   "#[bg=,fg=#665c54]█#[bg=#665c54,fg=#d5c4a1,bold]{index} #[bg=#3c3836,fg=#d5c4a1,bold] {name}{fullscreen_indicator}#[bg=,fg=#3c3836,bold]█"
        tab_normal_sync         "#[bg=,fg=#665c54]█#[bg=#665c54,fg=#d5c4a1,bold]{index} #[bg=#3c3836,fg=#d5c4a1,bold] {name}{sync_indicator}#[bg=,fg=#3c3836,bold]█"

        // formatting for the current active tab
        tab_active              "#[bg=,fg=#b8bb26]█#[bg=#b8bb26,fg=#3c3836,bold]{index} #[bg=#3c3836,fg=#d5c4a1,bold] {name}{floating_indicator}#[bg=,fg=#3c3836,bold]█"
        tab_active_fullscreen   "#[bg=,fg=#b8bb26]█#[bg=#b8bb26,fg=#3c3836,bold]{index} #[bg=#3c3836,fg=#d5c4a1,bold] {name}{fullscreen_indicator}#[bg=,fg=#3c3836,bold]█"
        tab_active_sync         "#[bg=,fg=#b8bb26]█#[bg=#b8bb26,fg=#3c3836,bold]{index} #[bg=#3c3836,fg=#d5c4a1,bold] {name}{sync_indicator}#[bg=,fg=#3c3836,bold]█"

        // separator between the tabs
        tab_separator           " "

        // indicators
        tab_sync_indicator       "  "
        tab_fullscreen_indicator " [FS]"
        tab_floating_indicator   " 󰹙 "

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=blue] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        datetime        "#[fg=#6C7086,bold] {format} "
        datetime_format "%A, %d %b %Y %H:%M"
        datetime_timezone "Europe/London"
      }
    }
  children
  }

  tab name="nvim" split_direction="vertical" {
    pane
    pane
  }

  tab name="shell" split_direction="vertical" {
    pane
  }

}

//layout {
//  default_tab_template {
//    pane size=2 borderless=true {
//      plugin location="zellij:compact-bar"
//    }
//    children
//  }
//
//  tab name="nvim" split_direction="vertical" {
//    pane
//    pane
//  }
//
//  tab name="shell" split_direction="vertical" {
//    pane
//  }
//}
