@import ".current-colors-rofi.rasi"

configuration {
    font:                           "IosevkaTerm Nerd Font Bold 16";
    show-icons:                     true;
    icon-theme:                     "Papirus";
    display-drun:                   "Applications";
    drun-display-format:            "{name}";
    disable-history:                false;
    fullscreen:                     false;
    hide-scrollbar:                 true;
    sidebar-mode:                   false;
    terminal:                       "kitty";
}

window {
    transparency:                   "real";
    background-color:               @background;
    text-color:                     @foreground;
	width:                          50%;
    location:                       center;
    x-offset:                       0;
    y-offset:                       0;

	border:                         1px;
	border-color:                   @color8;
    border-radius:                  16px;
}

mainbox {
    children:                       [ inputbar, listview ];
    background-color:               @background;
    spacing:                        2%;
    //padding:                        4% 2% 4% 2%;
    padding:                        40px;

    border:                         0% 0% 0% 0%;
    border-radius:                  0% 0% 0% 0%;
    border-color:                   @background;
}




inputbar {
    children:                       [ prompt, entry ];
    background-color:               @background;
    text-color:                     @background;
    expand:                         false;

    //border:                         0% 0% 0% 0%;
    border:                         1px;
    border-radius:                  10px;
    border-color:                   @color1;
}

prompt {
    enabled:                        true;
	padding:                        1.15% 0% 1% 0.8%;
	background-color:               @background;
	text-color:                     @color1;
	font:                           "IosevkaTerm Nerd Font Bold 14";

    border:                         0px;
    border-radius:                  0px;
    border-color:                   @background;
}

textbox-prompt-colon {
    padding:                        1% 0% 1% 0%;
    background-color:               @background;
	text-color:                     @foreground;
	expand:                         false;
	str:                            " :: ";
}

entry {
    background-color:               @background;
    text-color:                     @foreground;
    //placeholder-color:              @color4;
    expand:                         true;
    horizontal-align:               0;
    placeholder:                    "Search...";
	font:                           "IosevkaTerm Nerd Font 14";
	padding:                        1.15% 0.5% 1% 0.5%;
    blink:                          true;
	  //border:                         2px;
    //border-radius:                  0px 10px 10px 0px;
    //border-color:                   @color2;
}







listview {
    background-color:               @background;
    padding:                        0px;
    columns:                        2;
    lines:                          6;
    spacing:                        1%;
    cycle:                          false;
    dynamic:                        true;
    layout:                         vertical;
}

element {
    background-color:               @background;
    text-color:                     @foreground;
    //background-color:               @color8;
    //text-color:                     @foreground;
    orientation:                    horizontal;
    border-radius:                  12px;
    padding:                        1% 0.5% 1% 0.75%;
}

element-icon {
    background-color:               inherit;
    //background-color:               @color8;
    size:                           30px;
    border:                         0px;
}

element-text {
    background-color:               inherit;
    //background-color:               @color8;
    text-color:                     inherit;
    expand:                         true;
    horizontal-align:               0;
    vertical-align:                 0.5;
    margin:                         0% 0.25% 0% 0.25%;
}

element selected {
    //background-color:               @background;
    background-color:               @color8;
    text-color:                     @color2;
    border:                         0% 0.3% 0% 0.3%;
    border-radius:                  12px;
    border-color:                   @color2;
}
