configuration {
	font: "IosevkaTerm Nerd Font Propo Bold 16";
  disable-history: false;
  fullscreen: false;
	hide-scrollbar: true;
	sidebar-mode: false;
}

@import ".current-colors-rofi.rasi"

/* === Ventana principal === */
window {
    width: 30%;
    border: 2px;
    border-color: @background;
    border-radius: 16px;
    background-color: @background;
    padding: 16px;
}


/* === Caja general === */
mainbox {
    background-color:               @background;
    text-color:                     @foreground;
    spacing: 12px;
}



/* === Barra de búsqueda === */
inputbar {
    children: [prompt, textbox-prompt-colon, entry];
    background-color: @background;
    border: 1px;
    border-color: @color1;
    border-radius: 10px;
    padding: 15px;
    spacing: 0px;
}

prompt {
    background-color:            @background;
    text-color: @color1;
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         " ";
    background-color:            @background;
    text-color:                  @foreground;
}

entry {
    background-color:            @background;
    placeholder: "Search...";
    text-color: @foreground;
	  font: "IosevkaTerm Nerd Font Propo 14";
}






/* === Lista === */
listview {
    background-color:               @background;
    lines: 5;
    columns: 1;
    spacing: 6;
    scrollbar: false;
}

/* === Elementos === */
element {
    background-color:               @background;
    text-color:                     @foreground;
    padding: 10px;
    border-radius: 10px;
    background-color: @background;
}

element-text {
    background-color:               inherit;
    text-color:                     inherit;
    vertical-align: 0.5;
    margin: 0 0 0 8;
}

element selected {
    background-color: @color8;
    text-color: @color2;
}
