* {
    background: #232136;
    foreground: #e0def4;
    selection-foreground: #e0def4;
    selection-background: #44415a;

    cursor:                   #56526e;
    cursor-text-color: #e0def4;

    url-color:                #c4a7e7;

    active-tab-foreground:    #e0def4;
    active-tab-background:    #393552;
    inactive-tab-foreground:  #6e6a86;
    inactive-tab-background:  #232136;

    active-border-color:      #3e8fb0;
    inactive-border-color:    #44415a;

    color0:   #393552;
    color8:   #6e6a86;

    //color1:   #eb6f92;
    //color2:   #3e8fb0;
    color2:   #eb6f92;
    color1:   #3e8fb0;

    color9:   #eb6f92;
    color10:  #3e8fb0;

    color3:   #f6c177;
    color11:  #f6c177;

    color4:   #9ccfd8;
    color12:  #9ccfd8;

    color5:   #c4a7e7;
    color13:  #c4a7e7;

    color6:   #ea9a97;
    color14:  #ea9a97;

    color7:   #e0def4;
    color15:  #e0def4;

    alternate-normal-background: @background; // NO TOCAR
}
