amd-ucode
atuin
awww
base
base-devel
blueman
bluez
bluez-utils
brightnessctl
btop
direnv
dnsmasq
docker
dynamips
efibootmgr
eza
fastfetch
fd
fish
fzf
git
grub
gst-plugin-pipewire
htop
hyprland
hyprlock
hyprshot
inetutils
kitty
lazygit
libpulse
libvirt
linux
linux-firmware
nautilus
neovim
net-tools
networkmanager
nmap
npm
nwg-look
obsidian
openssh
papirus-icon-theme
pipewire
pipewire-alsa
pipewire-jack
pipewire-pulse
python-pipx
qemu-full
qt5-wayland
qt6-wayland
ripgrep
rofi
sof-firmware
starship
strace
sudo
swaync
tigervnc
tlp
tlp-rdw
tree-sitter-cli
typst
ubridge
unrar
unzip
vpcs
waybar
wireplumber
wireshark-qt
xdg-desktop-portal-gtk
xdg-desktop-portal-hyprland
yay
yay-debug
yazi
zellij
zen-browser-bin
zoxide
zram-generator
