amd-ucode
atuin
awww
base
base-devel
blueman
bluez
bluez-utils
brightnessctl
btop
direnv
efibootmgr
eza
fastfetch
fd
fish
fzf
git
grub
gst-plugin-pipewire
htop
hyprland
hyprlock
hyprshot
kitty
libpulse
linux
linux-firmware
nautilus
neovim
networkmanager
npm
obsidian
openssh
pipewire
pipewire-alsa
pipewire-jack
pipewire-pulse
ripgrep
rofi
sof-firmware
starship
strace
sudo
swaync
tree-sitter-cli
typst
unzip
waybar
wireplumber
yay
yay-debug
yazi
zellij
zen-browser-bin
zoxide
zram-generator
